@import '../../../index';

.inputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: $contentMargin;
}

.input {
    display: flex;
    font-size: calc(0.714 * #{$fontSize});
    color: $textColor;
    background-color: $inputColor;
    border: unset;
    border-radius: $borderRadius;
    outline: none;
    padding: 0 $contentPadding;
    height: 2.4rem;
    text-align: center;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
